@import "bootstrap/scss/bootstrap";

.details-realization {
    margin-top: 100px;
    margin-bottom: 4%;
}

.details-realization h2{
    color: var(--yellow-color);
    font-size:4rem ;
}

.details-realization .text-decoration-none.m-2 {
    font-size: 1.7em;
}

li.text-decoration-none.m-2:not(:last-child)::after {
    content: ",";
    margin-right: 3px; 
}

.flex-wrap {
    flex-wrap: wrap;
}


.wrapper{
    margin-bottom :6%;
    max-width: 1100px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery .image{
    padding: 7px;
    width: calc(100% / 3);
}

.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease;
    border: #000 solid 1px;
    border-radius: 3px;
}

.gallery .image:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    z-index: 1000;
}

.preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}

.preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.details .title p{
    margin: 0 5px;
}

.details .title p.current-img{
    font-weight: 500;
}

.details .icon{
    color: var(--blue-color);
    font-size: 20px;
    cursor: pointer;
}

.preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
}

.image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blue-color);
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.slide.prev{
    left: 0px;
}

.slide.next{
    right: 0px;
}

.image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
}

@media screen and (max-width: 1200px){
    .custom-flex-container {
        flex-direction: column;
    }
    .details-realization .list-unstyled {
        max-width: 100%;
    }
    .details-realization .list-unstyled li {
        flex: 1; 
    }

    .details-realization .custom-margin {
        margin-top: 20px;
    }

    .details-realization .list-unstyled li{
        white-space: nowrap;
    }
}

@media(max-width: 1024px){
        .gallery .image{
            width: calc(100% / 2);
        }
    }
    @media(max-width: 768px){
        .gallery .image{
            width: 100%;
            padding: 4px;
        }
}



table.a-align-center td, table.a-align-center th {
    vertical-align: middle;
}
tr.a-histogram-row td {
    padding: 7px 3px;
}
td.a-span10, th.a-span10 {
    width: 50%;
    float: none !important;
}

table {
    margin-bottom: 18px;
    // border-bottom: #b1afaf solid 1px;
}

.a-meter {
    background-color: #f3f3f3;  /* Couleur de fond pour le fond de la barre de progression */
    height: 20px;              /* Hauteur de la barre de progression */
    border: #b1afaf solid 1px;
    border-radius: 4px;        /* Arrondissement des coins */
    overflow: hidden;          /* Assure que la barre interne ne déborde pas */
}

.a-meter-bar {
    background-color: #F6BC3E; /* Couleur de fond pour la barre remplie */
    height: 100%;              /* Hauteur de la barre remplie (elle remplit le conteneur) */
}

.reviews-clients{
    border-bottom: #b1afaf solid 1px;
    margin-bottom: 20px;
}
